html {
    background-color: #0a0a0a;
    color: #e4e4e7;
}

body {
    margin: 0;
    color: #e4e4e7;
    font-family: "Nunito", "Avenir Next", "Segoe UI", sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
}
